---
import { siteMeta } from "@lib/constants";
const {
  SITE_TITLE,
  SITE_DESCRIPTION,
  SITE_LOCALE,
  SITE_TYPE,
  SITE_ICON,
  SITE_IMG,
} = siteMeta;

const {
  pageTitle,
  description = SITE_DESCRIPTION,
  pageImg = SITE_IMG,
} = Astro.props;

const title = pageTitle ? `${pageTitle} | ${SITE_TITLE}` : SITE_TITLE;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(pageImg, Astro.site);
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<title>
  {title}
</title>
<meta property="og:title" content={title} />
<meta name="description" content={description} />
<meta property="og:description" content={description} />
<link rel="canonical" href={canonicalURL} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content={SITE_TITLE} />
<meta property="og:type" content={SITE_TYPE} />
<meta property="og:locale" content={SITE_LOCALE} />
<link rel="icon" href={SITE_ICON} />
<link rel="apple-touch-icon" href={SITE_ICON} />
<meta property="og:image" content={socialImageURL} />
<meta name="twitter:card" content="summary_large_image" />

<!-- Open Graph / Facebook -->
<!-- <meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} /> -->

<!-- Twitter -->
<!-- <meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} /> -->
